/* The navigation bar */
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(white, grey);
  font-family: "Indie Flower", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
  overflow: hidden;
  background-color: rgb(198, 247, 184);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
}

p {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
  margin-bottom: 10px;
}

/* once I click,div {
  border: 5px solid red;
} it will move to the top */

a:visited {
  color: blue;
}
h2 {
  margin-bottom: 2rem;
}
.box {
  background: linear-gradient(#474787, #6f6faa);
  font-family: "Hind", sans-serif;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  /* background: #aea3a3; */
  box-shadow: 20px 20px 60px #948b8b, -20px -20px 60px #c8bbbb;
  margin-top: 3rem;
}
.box img {
  /* width: auto;
  height: auto; */
  transition: all 0.4s ease-in-out;
}
.box:hover img {
  opacity: 0;
  transform: perspective(700px) rotateX(180deg);
}
.box .box-content {
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 0 10px;
  transform: translateY(50%);
  position: absolute;
  bottom: 50%;
  left: 0;
  transition: all 0.45s ease 0s;
}
.box .title {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 5px 1px;
  margin: 0 0 7px;
  opacity: 0;
  transform: translateY(15px);
  transition: all 0.25s linear;
}
.box .post {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  padding: 1px 10px 0;
  display: inline-block;
  opacity: 0;
  transform: translateY(-15px);
  transition: all 0.25s linear;
}
.box:hover .title,
.box:hover .post {
  opacity: 1;
  transform: translateY(0);
}
.box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transition: all 0.25s linear;
}
.box:hover .icon {
  opacity: 1;
}
.box .icon li {
  margin: 0 2px;
  display: inline-block;
}
.box .icon li a {
  color: #555;
  background: #fff;
  font-size: 36px;
  text-align: center;
  line-height: 40px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  display: block;
  transition: all 0.3s ease-in-out;
}
.box .icon li a:hover {
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 990px) {
  .box {
    margin: 0 0 30px;
  }
}
.teamImg {
  border-radius: 48px;
  background: #aea3a3;
  box-shadow: 22px -22px 13px #968c8c, -22px 22px 13px #c6baba;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.text-effect {
  color: #4b7645;
  font-family: "Viga", sans-serif;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
  animation: 2s anime ease-out infinite;
  margin-top: 6rem;
}

@keyframes anime {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    color: #4b7645;
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    color: blue;
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    color: purple;
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@media only screen and (max-width: 990px) {
  .text-effect {
    font-size: 90px;
  }
}
@media only screen and (max-width: 767px) {
  .text-effect {
    font-size: 70px;
  }
}
@media only screen and (max-width: 576px) {
  .text-effect {
    font-size: 55px;
  }
}
@media only screen and (max-width: 479px) {
  .text-effect {
    font-size: 40px;
    line-height: 50px;
  }
}
.typeEff h2 {
  color: rgb(36, 23, 23);
  font-family: "Indie Flower", cursive;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 4.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.techSec {
  color: rgba(0, 0, 0, 0.1);
  font-family: "Solway", serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 50px transparent;
  animation: animate 1s alternate infinite;
}
@keyframes animate {
  100% {
    text-shadow: 0 0 0px #071774;
  }
}
@media only screen and (max-width: 990px) {
  .text-effect {
    font-size: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .text-effect {
    font-size: 80px;
  }
}
@media only screen and (max-width: 479px) {
  .text-effect {
    font-size: 60px;
  }
}
@media only screen and (max-width: 359px) {
  .text-effect {
    font-size: 45px;
  }
}
.titleText {
  margin-top: 3rem;
  text-transform: uppercase;
  font-family: verdana;
  color: #eaf5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

/*  Navbar sec */
h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.project {
  margin-top: 1rem;
  font-family: verdana;
  text-transform: uppercase;
  padding-left: 15px;
}

.main-nav {
  margin-top: 5px;
  list-style-type: none;
}
.logo ul {
  text-decoration: none;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: verdana;
}

.main-nav a {
  color: #14181d;
  font-size: 0.99em;
}

.main-nav a:hover {
  background-color: #90e7d9;
}
a:visited {
  background-color: #90e7d9;
}
/* .main-na a:visited {
  background-color: #90e7d9;
} */

.header {
  position: fixed;
  top: 0.5rem;
  z-index: 9999;
  padding-top: 0.5em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
